.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    color: azure;
    .navSquare {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .info {
        display: flex;
        flex-direction: row;
        img {
            width: 40vh;
            height: 40vh;
            border-radius: 100%;
        }
    }
}
