*::-webkit-scrollbar{
    display: none;
}
.app{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: black;
    text-align: center;
    $page-spread: 90;
    img{
        background-color: white;
    }
    &.blog{
        transform: translateX(-90vw) translateY(90vh);   
    }
    &.aboutMe{
        transform: translateX(90vw) translateY(90vh);
    }
    &.workExp{
        transform: translateX(90vw) translateY(-90vh);
    }
    &.gallery{
        transform: translateX(-90vw) translateY(-90vh);
    }
    &.shift1F{
        animation: shift1F 0.75s ease forwards;
    }
    &.shift1B{
        animation: shift1B 0.75s ease forwards;
    }
    &.shift2F{
        animation: shift2F 0.75s ease forwards;
    }
    &.shift2B{
        animation: shift2B 0.75s ease forwards;
    }
    &.shift3F{
        animation: shift3F 0.75s ease forwards;
    }
    &.shift3B{
        animation: shift3B 0.75s ease forwards;
    }
    &.shift4F{
        animation: shift4F 0.75s ease forwards;
    }
    &.shift4B{
        animation: shift4B 0.75s ease forwards;
    }
    @keyframes shift1F {
        0%{
            transform: translateX(0) translateY(0);
        }
        100%{
            transform: translateX(-90vw) translateY(90vh);
        }
    }
    @keyframes shift1B {
        0%{
            transform: translateX(-90vw) translateY(90vh);
        }
        100%{
            transform: translateX(0) translateY(0);
        }
    }
    @keyframes shift2F {
        0%{
            transform: translateX(0) translateY(0);
        }
        100%{
            transform: translateX(90vw) translateY(90vh);
        }
    }
    @keyframes shift2B {
        0%{
            transform: translateX(90vw) translateY(90vh);
        }
        100%{
            transform: translateX(0) translateY(0);
        }
    }
    @keyframes shift3F {
        0%{
            transform: translateX(0) translateY(0);
        }
        100%{
            transform: translateX(90vw) translateY(-90vh);
        }
    }
    @keyframes shift3B {
        0%{
            transform: translateX(90vw) translateY(-90vh);
        }
        100%{
            transform: translateX(0) translateY(0);
        }
    }
    @keyframes shift4F {
        0%{
            transform: translateX(0) translateY(0);
        }
        100%{
            transform: translateX(-90vw) translateY(-90vh);
        }
    }
    @keyframes shift4B {
        0%{
            transform: translateX(-90vw) translateY(-90vh);
        }
        100%{
            transform: translateX(0) translateY(0);
        }
    }
}