*::-webkit-scrollbar {
    display: none;
}
.app {
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: black;
    text-align: center;
    $page-spread: 20;
    .blog {
        bottom: calc(var(--vh, 1vh) * 80);
        left: calc(100vw - 20vh);
    }
    .aboutMe {
        bottom: calc(var(--vh, 1vh) * 80);
        right: calc(100vw - 20vh);
    }
    .workExperience {
        top: calc(var(--vh, 1vh) * 80);
        right: calc(100vw - 20vh);
    }
    .gallery {
        top: calc(var(--vh, 1vh) * 80);
        left: calc(100vw - 20vh);
    }
    img {
        background-color: white;
    }
    &.blog {
        transform: translateY(calc(var(--vh, 1vh) * 80)) translateX(calc(-100vw + 20vh));
    }
    &.aboutMe {
        transform: translateY(calc(var(--vh, 1vh) * 80)) translateX(calc(100vw - 20vh));
    }
    &.workExperience {
        transform: translateY(calc(var(--vh, 1vh) * -80)) translateX(calc(100vw - 20vh));
    }
    &.gallery {
        transform: translateY(calc(var(--vh, 1vh) * -80)) translateX(calc(-100vw + 20vh));
    }
    &.shift1F {
        animation: shift1F 0.75s ease forwards;
    }
    &.shift1B {
        animation: shift1B 0.75s ease forwards;
    }
    &.shift2F {
        animation: shift2F 0.75s ease forwards;
    }
    &.shift2B {
        animation: shift2B 0.75s ease forwards;
    }
    &.shift3F {
        animation: shift3F 0.75s ease forwards;
    }
    &.shift3B {
        animation: shift3B 0.75s ease forwards;
    }
    &.shift4F {
        animation: shift4F 0.75s ease forwards;
    }
    &.shift4B {
        animation: shift4B 0.75s ease forwards;
    }
    @keyframes shift1F {
        0% {
            transform: translateX(0) translateY(0);
        }
        100% {
            transform: translateY(calc(var(--vh, 1vh) * 80)) translateX(calc(-100vw + 20vh));
        }
    }
    @keyframes shift1B {
        0% {
            transform: translateY(calc(var(--vh, 1vh) * 80)) translateX(calc(-100vw + 20vh));
        }
        100% {
            transform: translateX(0) translateY(0);
        }
    }
    @keyframes shift2F {
        0% {
            transform: translateX(0) translateY(0);
        }
        100% {
            transform: translateY(calc(var(--vh, 1vh) * 80)) translateX(calc(100vw - 20vh));
        }
    }
    @keyframes shift2B {
        0% {
            transform: translateY(calc(var(--vh, 1vh) * 80)) translateX(calc(100vw - 20vh));
        }
        100% {
            transform: translateX(0) translateY(0);
        }
    }
    @keyframes shift3F {
        0% {
            transform: translateX(0) translateY(0);
        }
        100% {
            transform: translateY(calc(var(--vh, 1vh) * -80)) translateX(calc(100vw - 20vh));
        }
    }
    @keyframes shift3B {
        0% {
            transform: translateY(calc(var(--vh, 1vh) * -80)) translateX(calc(100vw - 20vh));
        }
        100% {
            transform: translateX(0) translateY(0);
        }
    }
    @keyframes shift4F {
        0% {
            transform: translateX(0) translateY(0);
        }
        100% {
            transform: translateY(calc(var(--vh, 1vh) * -80)) translateX(calc(-100vw + 20vh));
        }
    }
    @keyframes shift4B {
        0% {
            transform: translateY(calc(var(--vh, 1vh) * -80)) translateX(calc(-100vw + 20vh));
        }
        100% {
            transform: translateX(0) translateY(0);
        }
    }
}
