.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: azure;
    .navSquare {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
