.img-orbit{
    // all: unset;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-top: 12vw;
    &.orbit{
        animation: orbit 0.5s ease forwards;
    }
    @keyframes orbit {
        0%{
            transform: rotateZ(0deg);
        }
        100%{
            transform: rotateZ(45deg);
        }
    }
    img{
        // all: unset;
        width: 10vw;
        height: 10vw;
        position: absolute;
        transform-origin: center;
        border-radius: 50%;
        object-fit: cover;
        $spread: -25vw;
        &:nth-of-type(1){
            transform: rotateZ(-45deg) translateX($spread);
            opacity: 0;
        }
        &:nth-of-type(2){
            transform: translateX($spread);
        }
        &:nth-of-type(3){
            transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
        }
        &:nth-of-type(4){
            transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
        }
        &:nth-of-type(5){
            transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
        }
        &:nth-of-type(6){
            transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
        }
        &.fade-in{
            animation: orbit-fade-in 0.5s forwards;
        }
        &.rotate1{
            animation: rotate1 0.5s forwards;
        }
        &.rotate2{
            animation: rotate2 0.5s forwards;
        }
        &.rotate3{
            animation: rotate3 0.5s forwards;
        }
        &.rotate4{
            animation: rotate4 0.5s forwards;
        }
        &.disappear{
            display: none;
        }
        @keyframes orbit-fade-in {
            0%{
                transform: rotateZ(-45deg) translateX($spread);
                opacity: 0;
            }
            100%{
                transform: translateX($spread);
                opacity: 1;
            }
        }
        @keyframes rotate1 {
            0%{
                transform: translateX($spread)
            }
            100%{
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
        }
        @keyframes rotate2 {
            0%{
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
            100%{
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
        }
        @keyframes rotate3 {
            0%{
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
            100%{
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
        }
        @keyframes rotate4 {
            0%{
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
            100%{
                transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            }
        }
    }
    .current{
        position: static;
        width: 34vw;
        height: 34vw;
        box-sizing: border-box;
        border: 10px solid white;
    }
    .orbiters{
        width: fit-content;
        *{
            font-size: 2vw;
            margin: 10px;
        }
    }
}