.img-orbit {
    // all: unset;
    @media (orientation: landscape) {
        width: 96vh;
        transform: translateY(56.5vh);
    }
    @media (orientation: portrait) {
        width: 75vw;
        transform: translateY(50vw);
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    &.orbit {
        animation: orbit 0.5s ease forwards;
    }
    @keyframes orbit {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(45deg);
        }
    }
    img {
        // all: unset;
        width: 23%;
        position: absolute;
        transform-origin: center;
        border-radius: 50%;
        object-fit: cover;
        $spread: -212%;
        &:nth-of-type(1) {
            transform: rotateZ(-45deg) translateX($spread) rotateZ(45deg);
            opacity: 0;
        }
        &:nth-of-type(2) {
            transform: translateX($spread);
        }
        &:nth-of-type(3) {
            transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
        }
        &:nth-of-type(4) {
            transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
        }
        &:nth-of-type(5) {
            transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
        }
        &:nth-of-type(6) {
            transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
        }
        &.fade-inF {
            animation: orbit-fade-inF 0.5s forwards;
        }
        &.fade-outF {
            animation: orbit-fade-outF 0.5s forwards;
        }
        &.rotateF1 {
            animation: rotateF1 0.5s forwards;
        }
        &.rotateF2 {
            animation: rotateF2 0.5s forwards;
        }
        &.rotateF3 {
            animation: rotateF3 0.5s forwards;
        }
        &.rotateF4 {
            animation: rotateF4 0.5s forwards;
        }
        @keyframes orbit-fade-inF {
            0% {
                transform: rotateZ(-45deg) translateX($spread) rotateZ(45deg);
                opacity: 0;
            }
            100% {
                transform: rotateZ(0) translateX($spread) rotateZ(0);
                opacity: 1;
            }
        }
        @keyframes orbit-fade-outF {
            0% {
                transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
                opacity: 1;
            }
            100% {
                transform: rotateZ(225deg) translateX($spread) rotateZ(-225deg);
                opacity: 0;
            }
        }
        @keyframes rotateF1 {
            0% {
                transform: rotateZ(0) translateX($spread);
            }
            100% {
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
        }
        @keyframes rotateF2 {
            0% {
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
            100% {
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
        }
        @keyframes rotateF3 {
            0% {
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
            100% {
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
        }
        @keyframes rotateF4 {
            0% {
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
            100% {
                transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            }
        }
        &.fade-inB {
            animation: orbit-fade-inB 0.5s forwards;
        }
        &.fade-outB {
            animation: orbit-fade-outB 0.5s forwards;
        }
        &.rotateB1 {
            animation: rotateB1 0.5s forwards;
        }
        &.rotateB2 {
            animation: rotateB2 0.5s forwards;
        }
        &.rotateB3 {
            animation: rotateB3 0.5s forwards;
        }
        &.rotateB4 {
            animation: rotateB4 0.5s forwards;
        }
        @keyframes orbit-fade-inB {
            0% {
                transform: rotateZ(225deg) translateX($spread) rotateZ(-225deg);
                opacity: 0;
            }
            100% {
                transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
                opacity: 1;
            }
        }
        @keyframes orbit-fade-outB {
            0% {
                transform: rotateZ(0) translateX($spread) rotateZ(0);
                opacity: 1;
            }
            100% {
                transform: rotateZ(-45deg) translateX($spread) rotateZ(45deg);
                opacity: 0;
            }
        }
        @keyframes rotateB1 {
            0% {
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
            100% {
                transform: rotateZ(0) translateX($spread);
            }
        }
        @keyframes rotateB2 {
            0% {
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
            100% {
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
        }
        @keyframes rotateB3 {
            0% {
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
            100% {
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
        }
        @keyframes rotateB4 {
            0% {
                transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            }
            100% {
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
        }
    }
    .current {
        width: 68%;
        box-sizing: border-box;
        border: 10px solid white;
    }
    .orbiters {
        width: fit-content;
        transform: translateY(36vh);
        @media (orientation: portrait) {
            transform: translateY(35vw);
        }
        * {
            font-size: 30px;
            margin: 10px;
        }
    }
}
