.img-orbit {
    // all: unset;
    @media (orientation: landscape) {
        width: 96vh;
        transform: translateY(57.5vh);
        @media screen and (max-width: 1150px){
            width: 81vh;
        }
    }
    @media (orientation: portrait) {
        width: 75vw;
        transform: translateY(50vw);
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    $time: 0.4s;
    &.orbit {
        animation: orbit $time linear forwards;
    }
    @keyframes orbit {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(45deg);
        }
    }
    img {
        // all: unset;
        width: 23%;
        position: absolute;
        transform-origin: center;
        border-radius: 50%;
        object-fit: cover;
        $spread: -212%;
        box-sizing: border-box;
        border: 5px solid white;
        @media (orientation: portrait) {
            border: 2px solid white;
        }
        // &:after {
        //     content: "";
        //     display: block;
        //     padding-bottom: 100%;
        // }
        &:nth-of-type(1) {
            transform: rotateZ(0) translateX($spread);
            z-index: -1;
        }
        &:nth-of-type(2) {
            transform: translateX($spread);
        }
        &:nth-of-type(3) {
            transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
        }
        &:nth-of-type(4) {
            transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
        }
        &:nth-of-type(5) {
            transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
        }
        &:nth-of-type(6) {
            transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            z-index: -1;
        }
        &.rotateF1 {
            animation: rotateF1 $time forwards;
        }
        &.rotateF2 {
            animation: rotateF2 $time forwards;
        }
        &.rotateF3 {
            animation: rotateF3 $time forwards;
        }
        &.rotateF4 {
            animation: rotateF4 $time forwards;
        }
        @keyframes rotateF1 {
            0% {
                transform: rotateZ(0) translateX($spread);
            }
            100% {
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
        }
        @keyframes rotateF2 {
            0% {
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
            100% {
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
        }
        @keyframes rotateF3 {
            0% {
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
            100% {
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
        }
        @keyframes rotateF4 {
            0% {
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
            100% {
                transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            }
        }
        &.rotateB1 {
            animation: rotateB1 $time forwards;
        }
        &.rotateB2 {
            animation: rotateB2 $time forwards;
        }
        &.rotateB3 {
            animation: rotateB3 $time forwards;
        }
        &.rotateB4 {
            animation: rotateB4 $time forwards;
        }
        @keyframes rotateB1 {
            0% {
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
            100% {
                transform: rotateZ(0) translateX($spread);
            }
        }
        @keyframes rotateB2 {
            0% {
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
            100% {
                transform: rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
        }
        @keyframes rotateB3 {
            0% {
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
            100% {
                transform: rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
        }
        @keyframes rotateB4 {
            0% {
                transform: rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            }
            100% {
                transform: rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
        }
    }
    .current {
        width: 68%;
    }
    .orbiters {
        display: flex;
        transform: translateY(35.8vh);
        @media screen and (max-width: 1150px){
            transform: translateY(32vh);
        }
        @media (orientation: portrait) {
            transform: translateY(30vw);
        }
        * {
            font-size: 30px;
            margin: 10px;
        }
        svg{
            user-select: none;
        }
        h1{
            color: white;
        }
    }
    .text{
        position: absolute;
        transform: translateY(5vh) translateX(100%);
    }
}
