.slider{
    width: 33%;
    height: 15px;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: black;
    .knob{
        width: 35px;
        height: 35px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) translateX(-50%);
        background-color: black;
    }
}