.slider {
    width: 37%;
    @media screen and (max-width: 1285px) {
        width: 40%;
    }
    @media screen and (max-width: 1075px) {
        width: 45%;
    }
    height: 15px;
    position: relative;
    background-color: azure;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: black;
    touch-action: none;
    user-select: none;
    .knob {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) translateX(-50%);
        background-color: dimgray;
    }
}
