.img-orbit {
    --unit: var(--vh, 1vh);
    @media screen and (orientation: portrait) {
        --unit: 1vw;
    }
    width: calc(var(--unit) * 100);
    height: calc(var(--unit) * 77 + 47px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    $time: 0.4s;
    img{
        border-radius: 100%;
        object-fit: cover;
    }
    .current {
        width: calc(var(--unit) * 54);
        height: calc(var(--unit) * 54);
        position: absolute;
        bottom: 47px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .satel {
        width: calc(var(--unit) * 20.5);
        height: calc(var(--unit) * 20.5);
        position: absolute;
        transform-origin: center;
        $spread: calc(var(--unit) * -39);
        bottom: calc(var(--unit) * 27 + 47px);
        z-index: 1;
        &:nth-of-type(1) {
            transform: translateY(50%) rotateZ(0) translateX($spread);
            z-index: 0;
        }
        &:nth-of-type(2) {
            transform: translateY(50%) translateX($spread);
        }
        &:nth-of-type(3) {
            transform: translateY(50%) rotateZ(45deg) translateX($spread) rotateZ(-45deg);
        }
        &:nth-of-type(4) {
            transform: translateY(50%) rotateZ(90deg) translateX($spread) rotateZ(-90deg);
        }
        &:nth-of-type(5) {
            transform: translateY(50%) rotateZ(135deg) translateX($spread) rotateZ(-135deg);
        }
        &:nth-of-type(6) {
            transform: translateY(50%) rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            z-index: 0;
        }
        &.rotateF1 {
            animation: rotateF1 $time forwards;
        }
        &.rotateF2 {
            animation: rotateF2 $time forwards;
        }
        &.rotateF3 {
            animation: rotateF3 $time forwards;
        }
        &.rotateF4 {
            animation: rotateF4 $time forwards;
        }
        @keyframes rotateF1 {
            0% {
                transform: translateY(50%) rotateZ(0) rotateZ(0) translateX($spread) rotateZ(0);
            }
            100% {
                transform: translateY(50%) rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
        }
        @keyframes rotateF2 {
            0% {
                transform: translateY(50%) rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
            100% {
                transform: translateY(50%) rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
        }
        @keyframes rotateF3 {
            0% {
                transform: translateY(50%) rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
            100% {
                transform: translateY(50%) rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
        }
        @keyframes rotateF4 {
            0% {
                transform: translateY(50%) rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
            100% {
                transform: translateY(50%) rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            }
        }
        &.rotateB1 {
            animation: rotateB1 $time forwards;
        }
        &.rotateB2 {
            animation: rotateB2 $time forwards;
        }
        &.rotateB3 {
            animation: rotateB3 $time forwards;
        }
        &.rotateB4 {
            animation: rotateB4 $time forwards;
        }
        @keyframes rotateB1 {
            0% {
                transform: translateY(50%) rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
            100% {
                transform: translateY(50%) rotateZ(0) translateX($spread) rotateZ(0);
            }
        }
        @keyframes rotateB2 {
            0% {
                transform: translateY(50%) rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
            100% {
                transform: translateY(50%) rotateZ(45deg) translateX($spread) rotateZ(-45deg);
            }
        }
        @keyframes rotateB3 {
            0% {
                transform: translateY(50%) rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
            100% {
                transform: translateY(50%) rotateZ(90deg) translateX($spread) rotateZ(-90deg);
            }
        }
        @keyframes rotateB4 {
            0% {
                transform: translateY(50%) rotateZ(180deg) translateX($spread) rotateZ(-180deg);
            }
            100% {
                transform: translateY(50%) rotateZ(135deg) translateX($spread) rotateZ(-135deg);
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .orbiters {
        width: 150px;
        height: 47px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        bottom: 0;
        font-size: 15px;
        .orbitArrow{
            width: 47px;
            height: 47px;
            &:nth-of-type(1){
                background-image: url('svgs/leftArrow.svg');
                background-size: cover;
            }
            &:nth-of-type(2){
                background-image: url('svgs/rightArrow.svg');
                background-size: cover;
                
            }
        }
        h1{
            margin: 0;
        }
    }
}