.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0ff8;
    color: #f8f8ffea;
    // centered content
    .tab {
        display: inline-block;
        margin-left: 20px;
    }
    #blogPostCont{
        width: 70%;
        height: calc(var(--vh, 1vh) * 80);
        text-align:left;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        word-wrap: break-word;
        // scrolls on overflow
        margin-bottom: calc(var(--vh, 1vh) * 21);
        @media screen and (orientation: portrait) {
            margin-bottom: calc(var(--vh, 1vh) * 13);
        }
        // centered content
        *{
            font-size: 25px;
            width: 100%;
            margin: 0;
            &::first-letter {
                margin-left: 80px;
            }
            // first letter indented
        }
    }
    .slider{
        margin-top: calc(var(--vh, 1vh) * 10);
    }
    .slideDown1{
        animation: slideDown1 0.5s ease forwards;
    }
    .slideDown2{
        animation: slideDown2 0.5s ease forwards;
    }
    .slideUp1{
        animation: slideUp1 0.5s ease forwards;
    }
    .slideUp2{
        animation: slideUp2 0.5s ease forwards;
    }
    //classes for animations
    @keyframes slideDown1 {
        0%{
            opacity: 0.2;
            transform: translateY(0);
        }
        100%{
            opacity: 1;
            transform: translateY(calc(var(--vh, 1vh) * 5));
        }
    }
    @keyframes slideDown2 {
        0%{
            opacity: 0.2;
            transform: translateY(0);
        }
        100%{
            opacity: 1;
            transform: translateY(calc(var(--vh, 1vh) * 5));
        }
    }
    @keyframes slideUp1 {
        0%{
            opacity: 0.2;
            transform: translateY(calc(var(--vh, 1vh) * 10));
        }
        100%{
            opacity: 1;
            transform: translateY(calc(var(--vh, 1vh) * 5));
        }
    }
    @keyframes slideUp2 {
        0%{
            opacity: 0.2;
            transform: translateY(calc(var(--vh, 1vh) * 10));
        }
        100%{
            opacity: 1;
            transform: translateY(calc(var(--vh, 1vh) * 5));
        }
    }
}
