.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0ff8;
    // background: linear-gradient(to bottom, #f0f8, #0ff8);
    color: #f8f8ffea;
    .tab {
        display: inline-block;
        margin-left: 20px;
    }
    #blogPostCont{
        width: 70%;
        height: 80vh;
        text-align:left;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        word-wrap: break-word;
        margin-bottom: 21vh;
        @media screen and (orientation: portrait) {
            margin-bottom: 13vh;
        }
        *{
            font-size: 35px;
            width: 100%;
            margin: 0;
            &::first-letter {
                margin-left: 80px;
            }
        }
    }
    .slider{
        margin-top: 10vh;
    }
    .slideDown1{
        animation: slideDown1 0.5s ease forwards;
    }
    .slideDown2{
        animation: slideDown2 0.5s ease forwards;
    }
    .slideUp1{
        animation: slideUp1 0.5s ease forwards;
    }
    .slideUp2{
        animation: slideUp2 0.5s ease forwards;
    }
    @keyframes slideDown1 {
        0%{
            opacity: 0.2;
            transform: translateY(0);
        }
        100%{
            opacity: 1;
            transform: translateY(5vh);
        }
    }
    @keyframes slideDown2 {
        0%{
            opacity: 0.2;
            transform: translateY(0);
        }
        100%{
            opacity: 1;
            transform: translateY(5vh);
        }
    }
    @keyframes slideUp1 {
        0%{
            opacity: 0.2;
            transform: translateY(10vh);
        }
        100%{
            opacity: 1;
            transform: translateY(5vh);
        }
    }
    @keyframes slideUp2 {
        0%{
            opacity: 0.2;
            transform: translateY(10vh);
        }
        100%{
            opacity: 1;
            transform: translateY(5vh);
        }
    }
}
