.workExperience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f008;
    // background: linear-gradient(to top , #f808, #f008);
}
