.workExperience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f008;
    // background: linear-gradient(to top , #f808, #f008);
    #expCanvCont{
        width: 40vw;
        height: 43vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #test{
        canvas{
            position: absolute;
        }
    }
    @media (orientation: portrait) {
        #expCanvCont{
            width: 80vw;
            height: 95vw;
        }
    }
}
