@import './themes/defaultTheme';
@import './util/index';
@import './base';
@import './layout/index';
@import './components/index';
.web-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    z-index: 1;
    box-sizing: border-box;
    border: 15px double white;
}