/*
div{
    @include center-auto()
}
*/
/*
    div{
        background-image: url('pic.jpg');
        @include mixin.cover-background();
    }
*/
/* .menu li {
        @include absolute(top 100% left 0)    
    }
    .sticky-bar{
        @include fixed(top 0 left 0)
    }
    .submenu{
        @include relative()
    }
*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
body #root {
  height: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.app.gallery {
  transform: translateX(-180vw) translateY(-180vh);
}
.app.shift4F {
  animation: shift4F 1s ease forwards;
}
.app.shift4B {
  animation: shift4B 1s ease forwards;
}
@keyframes shift4F {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-90vw) translateY(-90vh);
  }
}
@keyframes shift4B {
  0% {
    transform: translateX(-90vw) translateY(-90vh);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.img-orbit {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: 12%;
}

.img-orbit.orbit {
  animation: orbit 0.5s ease forwards;
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(45deg);
  }
}
.img-orbit img {
  width: 10vw;
  height: 10vw;
  position: absolute;
  transform-origin: center;
  border-radius: 50%;
  object-fit: cover;
}

.img-orbit img:nth-of-type(1) {
  transform: rotateZ(-45deg) translateX(-25vw);
  opacity: 0;
}

.img-orbit img:nth-of-type(2) {
  transform: translateX(-25vw);
}

.img-orbit img:nth-of-type(3) {
  transform: rotateZ(45deg) translateX(-25vw) rotateZ(-45deg);
}

.img-orbit img:nth-of-type(4) {
  transform: rotateZ(90deg) translateX(-25vw) rotateZ(-90deg);
}

.img-orbit img:nth-of-type(5) {
  transform: rotateZ(135deg) translateX(-25vw) rotateZ(-135deg);
}

.img-orbit img:nth-of-type(6) {
  transform: rotateZ(180deg) translateX(-25vw) rotateZ(-180deg);
}

.img-orbit img.fade-in {
  animation: orbit-fade-in 0.5s forwards;
}

.img-orbit img.rotate1 {
  animation: rotate1 0.5s forwards;
}

.img-orbit img.rotate2 {
  animation: rotate2 0.5s forwards;
}

.img-orbit img.rotate3 {
  animation: rotate3 0.5s forwards;
}

.img-orbit img.rotate4 {
  animation: rotate4 0.5s forwards;
}

.img-orbit img.disappear {
  display: none;
}

@keyframes orbit-fade-in {
  0% {
    transform: rotateZ(-45deg) translateX(-23.5vw);
    opacity: 0;
  }
  100% {
    transform: translateX(-23.5vw);
    opacity: 1;
  }
}
@keyframes rotate1 {
  0% {
    transform: translateX(-23.5vw);
  }
  100% {
    transform: rotateZ(45deg) translateX(-23.5vw) rotateZ(-45deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(45deg) translateX(-23.5vw) rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(90deg) translateX(-23.5vw) rotateZ(-90deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateZ(90deg) translateX(-23.5vw) rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(135deg) translateX(-23.5vw) rotateZ(-135deg);
  }
}
@keyframes rotate4 {
  0% {
    transform: rotateZ(135deg) translateX(-23.5vw) rotateZ(-135deg);
  }
  100% {
    transform: rotateZ(180deg) translateX(-23.5vw) rotateZ(-180deg);
  }
}
.img-orbit .current {
  position: static;
  width: 35vw;
  height: 35vw;
  box-sizing: border-box;
  border: 10px solid white;
}

.img-orbit .orbiters {
  width: fit-content;
}

.img-orbit .orbiters * {
  font-size: 2vw;
  margin: 10px;
}

*::-webkit-scrollbar {
  display: none;
}

.gallery {
  background: blue;
  z-index: 1;
  top: 90vh;
  left: 90vw;
  position: fixed;
}

.navSquare {
  position: fixed;
  background-color: black;
  color: white;
  margin: 0;
}

.navSquare:nth-of-type(2) {
  right: 0;
}

.navSquare:nth-of-type(3) {
  bottom: 0;
}

.navSquare:nth-of-type(4) {
  right: 0;
  bottom: 0;
  background: blue;
}

@keyframes move1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(100) translateY(100);
  }
}
.web-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-y: auto;
}

/*# sourceMappingURL=index.css.map */
