/*
div{
    @include center-auto()
}
*/
/*
    div{
        background-image: url('pic.jpg');
        @include mixin.cover-background();
    }
*/
/* .menu li {
        @include absolute(top 100% left 0)    
    }
    .sticky-bar{
        @include fixed(top 0 left 0)
    }
    .submenu{
        @include relative()
    }
*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
}
body #root {
  min-height: 100vh;
  height: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.img-orbit {
  width: 60vw;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-bottom: -10%;
}

.img-orbit.orbit {
  animation: orbit 0.5s ease forwards;
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(45deg);
  }
}
.img-orbit img {
  width: 15%;
  height: 15%;
  position: absolute;
  transform-origin: center;
  border-radius: 50%;
  object-fit: cover;
}

.img-orbit img:nth-of-type(1) {
  transform: rotateZ(-45deg) translateX(-23.5vw);
  opacity: 0;
}

.img-orbit img:nth-of-type(2) {
  transform: translateX(-23.5vw);
}

.img-orbit img:nth-of-type(3) {
  transform: rotateZ(45deg) translateX(-23.5vw) rotateZ(-45deg);
}

.img-orbit img:nth-of-type(4) {
  transform: rotateZ(90deg) translateX(-23.5vw) rotateZ(-90deg);
}

.img-orbit img:nth-of-type(5) {
  transform: rotateZ(135deg) translateX(-23.5vw) rotateZ(-135deg);
}

.img-orbit img:nth-of-type(6) {
  transform: rotateZ(180deg) translateX(-23.5vw) rotateZ(-180deg);
}

.img-orbit img.fade-in {
  animation: orbit-fade-in 0.5s forwards;
}

.img-orbit img.rotate1 {
  animation: rotate1 0.5s forwards;
}

.img-orbit img.rotate2 {
  animation: rotate2 0.5s forwards;
}

.img-orbit img.rotate3 {
  animation: rotate3 0.5s forwards;
}

.img-orbit img.rotate4 {
  animation: rotate4 0.5s forwards;
}

.img-orbit img.disappear {
  display: none;
}

@keyframes orbit-fade-in {
  0% {
    transform: rotateZ(-45deg) translateX(-23.5vw);
    opacity: 0;
  }
  100% {
    transform: translateX(-23.5vw);
    opacity: 1;
  }
}
@keyframes rotate1 {
  0% {
    transform: translateX(-23.5vw);
  }
  100% {
    transform: rotateZ(45deg) translateX(-23.5vw) rotateZ(-45deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(45deg) translateX(-23.5vw) rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(90deg) translateX(-23.5vw) rotateZ(-90deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateZ(90deg) translateX(-23.5vw) rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(135deg) translateX(-23.5vw) rotateZ(-135deg);
  }
}
@keyframes rotate4 {
  0% {
    transform: rotateZ(135deg) translateX(-23.5vw) rotateZ(-135deg);
  }
  100% {
    transform: rotateZ(180deg) translateX(-23.5vw) rotateZ(-180deg);
  }
}
.img-orbit .current {
  position: static;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  border: 10px solid white;
}

.gallery {
  background: blue;
  z-index: 1;
}

.gallery.closed {
  clip-path: polygon(90% 80%, 100% 80%, 100% 100%, 90% 100%);
}

@keyframes gallery-open {
  0% {
    clip-path: polygon(90% 80%, 100% 80%, 100% 100%, 90% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
.home {
  position: absolute;
}

.navSquare {
  position: fixed;
  background-color: black;
  color: white;
  margin: 0;
}

.navSquare:nth-of-type(2) {
  right: 0;
}

.navSquare:nth-of-type(3) {
  bottom: 0;
}

.navSquare:nth-of-type(4) {
  right: 0;
  bottom: 0;
}

@keyframes move1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(100) translateY(100);
  }
}
.web-page {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

/*# sourceMappingURL=index.css.map */
