@import './themes/defaultTheme';
@import './util/index';
@import './base';
@import './layout/app';
@import './components/index';
.web-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}