.home{
    display: flex;
    justify-content: center;
    align-items: center;
    // centered content
    main{
        width: calc(100% - 100px + 10px);
        height: calc(100% - 100px + 10px);
        word-wrap: break-word;
        overflow-y: scroll;
        overflow-x: hidden;
        // scrolls on overflow
        font-size: 25px;
        background: #000a;
        box-sizing: border-box;
        border: 10px solid ghostwhite;
        padding: 50px;
        padding-bottom: 0;
        @media screen and (orientation: portrait) {
            width: calc(100% - 12vh + 10px);
            height: calc(100% - calc(var(--vh, 1vh) * 12) + 10px);
        }
        // centered and responsive
        h1{
            margin-top: 10px;
        }
    }
}