.navSquare {
    width: 16vh;
    height: 16vh;
    @media (orientation: portrait) {
        width: 12vh;
        height: 12vh;
    }
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    &:hover{
        cursor: pointer;
    }
    &#blogNav{
        right: 0;
        background: #0ff;
    }
    &#aboutMeNav{
        top: 0;
        left: 0;
        background: #f0f;
    }
    &#workExpNav{
        background: #f00;
        bottom: 0;
        left: 0;
    }
    &#galleryNav{
        right: 0;
        bottom: 0;
        background: #00f;
    }
}