.navSquare {
    width: 20vh;
    height: calc(var(--vh, 1vh) * 20);
    @media screen and (orientation: portrait) {
        width: 12vh;
        height: calc(var(--vh, 1vh) * 12);
    }
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    user-select: none;
    &:hover{
        cursor: pointer;
    }
    &#blogNav{
        right: 0;
        background: #0ff;
    }
    &#aboutMeNav{
        top: 0;
        left: 0;
        background: #f0f;
    }
    &#careerNav{
        background: #f00;
        bottom: 0;
        left: 0;
    }
    &#galleryNav{
        right: 0;
        bottom: 0;
        background: #00f;
    }
}