.navSquare {
    width: 16vh;
    height: 16vh;
    @media (orientation: portrait) {
        width: 12vh;
        height: 12vh;
    }
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 0.5vw solid ghostwhite;
    margin: 0;
    box-sizing: border-box;
    &:hover{
        cursor: pointer;
    }
}
