.navSquare {
  width: 16vh;
  height: 16vh;
  z-index: 2;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0;
}
@media (orientation: portrait) {
  .navSquare {
    width: 12vh;
    height: 12vh;
  }
}
.navSquare:hover {
  cursor: pointer;
}
.navSquare#blogNav {
  right: 0;
  background: #0ff;
}
.navSquare#aboutMeNav {
  top: 0;
  left: 0;
  background: #f0f;
}
.navSquare#workExpNav {
  background: #f00;
  bottom: 0;
  left: 0;
}
.navSquare#galleryNav {
  right: 0;
  bottom: 0;
  background: #00f;
}
.slider {
  width: 37%;
  height: 14px;
  position: relative;
  background-color: ghostwhite;
  box-sizing: border-box;
  border-radius: 15px;
  touch-action: none;
  user-select: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1285px) {
  .slider {
    width: 40%;
  }
}
@media screen and (max-width: 1075px) {
  .slider {
    width: 45%;
  }
}
.slider:hover {
  cursor: pointer;
}
.slider:active {
  cursor: pointer;
}
.slider .knob {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
  background: #111;
  box-sizing: border-box;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f8;
  color: ghostwhite;
}
.aboutMe .info {
  display: flex;
  flex-direction: row;
}
.aboutMe .info img {
  width: 40vh;
  height: 40vh;
  border-radius: 100%;
}
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0ff8;
  border-bottom-left-radius: 30px;
  color: #f8f8ffea;
}
.blog #blogPostCont {
  width: 100%;
  height: calc(50vh - 14px);
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.blog #blogPostCont * {
  font-size: 58px;
  width: fit-content;
  margin: 0;
}
.blog .slider {
  margin-top: 10vh;
}
.blog .slideRight1 {
  animation: slideRight1 0.5s ease forwards;
}
.blog .slideRight2 {
  animation: slideRight2 0.5s ease forwards;
}
.blog .slideLeft1 {
  animation: slideLeft1 0.5s ease forwards;
}
.blog .slideLeft2 {
  animation: slideLeft2 0.5s ease forwards;
}
@keyframes slideRight1 {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(5vh);
  }
}
@keyframes slideRight2 {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(5vh);
  }
}
@keyframes slideLeft1 {
  0% {
    opacity: 0.2;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(5vh);
  }
}
@keyframes slideLeft2 {
  0% {
    opacity: 0.2;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(5vh);
  }
}
.gallery {
  background: #00f8;
}
.img-orbit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}
@media (orientation: landscape) {
  .img-orbit {
    width: 96vh;
    transform: translateY(57.5vh);
  }
}
@media screen and (orientation: landscape) and (max-width: 1150px) {
  .img-orbit {
    width: 81vh;
    transform: translateY(50.5vh);
  }
}
@media (orientation: portrait) {
  .img-orbit {
    width: 75vw;
    transform: translateY(50vw);
  }
}
.img-orbit.orbit {
  animation: orbit 0.4s linear forwards;
}
@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(45deg);
  }
}
.img-orbit img {
  width: 23%;
  position: absolute;
  transform-origin: center;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid ghostwhite;
}
.img-orbit img:nth-of-type(1) {
  transform: rotateZ(0) translateX(-212%);
  z-index: -1;
}
.img-orbit img:nth-of-type(2) {
  transform: translateX(-212%);
}
.img-orbit img:nth-of-type(3) {
  transform: rotateZ(45deg) translateX(-212%) rotateZ(-45deg);
}
.img-orbit img:nth-of-type(4) {
  transform: rotateZ(90deg) translateX(-212%) rotateZ(-90deg);
}
.img-orbit img:nth-of-type(5) {
  transform: rotateZ(135deg) translateX(-212%) rotateZ(-135deg);
}
.img-orbit img:nth-of-type(6) {
  transform: rotateZ(180deg) translateX(-212%) rotateZ(-180deg);
  z-index: -1;
}
.img-orbit img.rotateF1 {
  animation: rotateF1 0.4s forwards;
}
.img-orbit img.rotateF2 {
  animation: rotateF2 0.4s forwards;
}
.img-orbit img.rotateF3 {
  animation: rotateF3 0.4s forwards;
}
.img-orbit img.rotateF4 {
  animation: rotateF4 0.4s forwards;
}
@keyframes rotateF1 {
  0% {
    transform: rotateZ(0) translateX(-212%);
  }
  100% {
    transform: rotateZ(45deg) translateX(-212%) rotateZ(-45deg);
  }
}
@keyframes rotateF2 {
  0% {
    transform: rotateZ(45deg) translateX(-212%) rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(90deg) translateX(-212%) rotateZ(-90deg);
  }
}
@keyframes rotateF3 {
  0% {
    transform: rotateZ(90deg) translateX(-212%) rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(135deg) translateX(-212%) rotateZ(-135deg);
  }
}
@keyframes rotateF4 {
  0% {
    transform: rotateZ(135deg) translateX(-212%) rotateZ(-135deg);
  }
  100% {
    transform: rotateZ(180deg) translateX(-212%) rotateZ(-180deg);
  }
}
.img-orbit img.rotateB1 {
  animation: rotateB1 0.4s forwards;
}
.img-orbit img.rotateB2 {
  animation: rotateB2 0.4s forwards;
}
.img-orbit img.rotateB3 {
  animation: rotateB3 0.4s forwards;
}
.img-orbit img.rotateB4 {
  animation: rotateB4 0.4s forwards;
}
@keyframes rotateB1 {
  0% {
    transform: rotateZ(45deg) translateX(-212%) rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0) translateX(-212%);
  }
}
@keyframes rotateB2 {
  0% {
    transform: rotateZ(90deg) translateX(-212%) rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(45deg) translateX(-212%) rotateZ(-45deg);
  }
}
@keyframes rotateB3 {
  0% {
    transform: rotateZ(135deg) translateX(-212%) rotateZ(-135deg);
  }
  100% {
    transform: rotateZ(90deg) translateX(-212%) rotateZ(-90deg);
  }
}
@keyframes rotateB4 {
  0% {
    transform: rotateZ(180deg) translateX(-212%) rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(135deg) translateX(-212%) rotateZ(-135deg);
  }
}
.img-orbit .current {
  width: 68%;
}
.img-orbit .current:hover {
  cursor: pointer;
}
.img-orbit .orbiters {
  display: flex;
  transform: translateY(35.8vh);
}
@media screen and (max-width: 1150px) {
  .img-orbit .orbiters {
    transform: translateY(32vh);
  }
}
@media (orientation: portrait) {
  .img-orbit .orbiters {
    transform: translateY(30vw);
  }
}
.img-orbit .orbiters * {
  font-size: 30px;
  margin: 10px;
}
.img-orbit .orbiters svg {
  user-select: none;
}
.img-orbit .orbiters svg:hover {
  cursor: pointer;
}
.img-orbit .text {
  position: absolute;
  transform: translateY(42vh);
}
@media screen and (max-width: 1150px) {
  .img-orbit .text {
    transform: translateY(40.5vh);
  }
}
@media (orientation: portrait) {
  .img-orbit .text {
    transform: translateY(calc(28vw + 50px));
  }
}
.home {
  display: flex;
  justify-content: center;
}
.home main {
  width: calc(80vw - 32vh);
  height: fit-content;
  font-size: 3.5vw;
  background: #000a;
  border: 10px solid ghostwhite;
  margin: 10vh;
}
@media (orientation: portrait) {
  .home main {
    width: calc(100vw - 24vh);
  }
}
.workExperience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f008;
}
body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #000000;
  background-image: url("./svgback.svg");
  background-size: 25vw;
}
body #root {
  overflow: hidden;
  min-height: 100%;
}
body .web-page {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  z-index: 1;
}
*::-webkit-scrollbar {
  display: none;
}

.app {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  color: ghostwhite;
  background-position: center;
  background-size: 10vh;
  text-align: center;
}
.app img {
  background-color: ghostwhite;
}
.app .blog {
  bottom: calc(var(--vh, 1vh) * 84);
  left: calc(100vw - 16vh);
}
.app .aboutMe {
  bottom: calc(var(--vh, 1vh) * 84);
  right: calc(100vw - 16vh);
}
.app .workExperience {
  top: calc(var(--vh, 1vh) * 84);
  right: calc(100vw - 16vh);
}
.app .gallery {
  top: calc(var(--vh, 1vh) * 84);
  left: calc(100vw - 16vh);
}
.app.blog {
  transform: translateY(calc(var(--vh, 1vh) * 84)) translateX(calc(-100vw + 16vh));
}
.app.aboutMe {
  transform: translateY(calc(var(--vh, 1vh) * 84)) translateX(calc(100vw - 16vh));
}
.app.workExperience {
  transform: translateY(calc(var(--vh, 1vh) * -84)) translateX(calc(100vw - 16vh));
}
.app.gallery {
  transform: translateY(calc(var(--vh, 1vh) * -84)) translateX(calc(-100vw + 16vh));
}
.app.shift1F {
  animation: shift1F 0.75s ease forwards;
}
.app.shift1B {
  animation: shift1B 0.75s ease forwards;
}
.app.shift2F {
  animation: shift2F 0.75s ease forwards;
}
.app.shift2B {
  animation: shift2B 0.75s ease forwards;
}
.app.shift3F {
  animation: shift3F 0.75s ease forwards;
}
.app.shift3B {
  animation: shift3B 0.75s ease forwards;
}
.app.shift4F {
  animation: shift4F 0.75s ease forwards;
}
.app.shift4B {
  animation: shift4B 0.75s ease forwards;
}
@keyframes shift1F {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateY(calc(var(--vh, 1vh) * 84)) translateX(calc(-100vw + 16vh));
  }
}
@keyframes shift1B {
  0% {
    transform: translateY(calc(var(--vh, 1vh) * 84)) translateX(calc(-100vw + 16vh));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes shift2F {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateY(calc(var(--vh, 1vh) * 84)) translateX(calc(100vw - 16vh));
  }
}
@keyframes shift2B {
  0% {
    transform: translateY(calc(var(--vh, 1vh) * 84)) translateX(calc(100vw - 16vh));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes shift3F {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateY(calc(var(--vh, 1vh) * -84)) translateX(calc(100vw - 16vh));
  }
}
@keyframes shift3B {
  0% {
    transform: translateY(calc(var(--vh, 1vh) * -84)) translateX(calc(100vw - 16vh));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes shift4F {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateY(calc(var(--vh, 1vh) * -84)) translateX(calc(-100vw + 16vh));
  }
}
@keyframes shift4B {
  0% {
    transform: translateY(calc(var(--vh, 1vh) * -84)) translateX(calc(-100vw + 16vh));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@media (orientation: portrait) {
  .app .blog {
    bottom: calc(var(--vh, 1vh) * 88);
    left: calc(100vw - 12vh);
  }
  .app .aboutMe {
    bottom: calc(var(--vh, 1vh) * 88);
    right: calc(100vw - 12vh);
  }
  .app .workExperience {
    top: calc(var(--vh, 1vh) * 88);
    right: calc(100vw - 12vh);
  }
  .app .gallery {
    top: calc(var(--vh, 1vh) * 88);
    left: calc(100vw - 12vh);
  }
  .app.blog {
    transform: translateY(calc(var(--vh, 1vh) * 88)) translateX(calc(-100vw + 12vh));
  }
  .app.aboutMe {
    transform: translateY(calc(var(--vh, 1vh) * 88)) translateX(calc(100vw - 12vh));
  }
  .app.workExperience {
    transform: translateY(calc(var(--vh, 1vh) * -88)) translateX(calc(100vw - 12vh));
  }
  .app.gallery {
    transform: translateY(calc(var(--vh, 1vh) * -88)) translateX(calc(-100vw + 12vh));
  }
  @keyframes shift1F {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateY(calc(var(--vh, 1vh) * 88)) translateX(calc(-100vw + 12vh));
    }
  }
  @keyframes shift1B {
    0% {
      transform: translateY(calc(var(--vh, 1vh) * 88)) translateX(calc(-100vw + 12vh));
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  @keyframes shift2F {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateY(calc(var(--vh, 1vh) * 88)) translateX(calc(100vw - 12vh));
    }
  }
  @keyframes shift2B {
    0% {
      transform: translateY(calc(var(--vh, 1vh) * 88)) translateX(calc(100vw - 12vh));
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  @keyframes shift3F {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateY(calc(var(--vh, 1vh) * -88)) translateX(calc(100vw - 12vh));
    }
  }
  @keyframes shift3B {
    0% {
      transform: translateY(calc(var(--vh, 1vh) * -88)) translateX(calc(100vw - 12vh));
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  @keyframes shift4F {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateY(calc(var(--vh, 1vh) * -88)) translateX(calc(-100vw + 12vh));
    }
  }
  @keyframes shift4B {
    0% {
      transform: translateY(calc(var(--vh, 1vh) * -88)) translateX(calc(-100vw + 12vh));
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
div{
    @include center-auto()
}
*/
/*
    div{
        background-image: url('pic.jpg');
        @include mixin.cover-background();
    }
*/
/* .menu li {
        @include absolute(top 100% left 0)    
    }
    .sticky-bar{
        @include fixed(top 0 left 0)
    }
    .submenu{
        @include relative()
    }
*/


