.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f8;
    // background: linear-gradient(to bottom, #fff8, #f0f8);
    color: ghostwhite;
    .info {
        display: flex;
        flex-direction: row;
        img {
            width: 40vh;
            height: 40vh;
            border-radius: 100%;
        }
    }
}
