.slider {
    width: 37%;
    @media screen and (max-width: 1285px) {
        width: 40%;
    }
    @media screen and (max-width: 1075px) {
        width: 45%;
    }
    //responsive sizing
    height: 14px;
    position: relative;
    background-color: ghostwhite;
    box-sizing: border-box;
    border-radius: 15px;
    touch-action: none;
    user-select: none;
    // highlighting prevented
    margin: {
        top: 20px;
        bottom: 20px;
    }
    &:hover{
        cursor: pointer;
    }
    &:active{
        cursor: pointer;
    }
    .knob {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) translateX(-50%);
        background: #111;
        box-sizing: border-box;
        // knob moved to left end
    }
}
