.career {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f004;
    // background: linear-gradient(to top , #f808, #f008);
    #career{
        width: 80vw;
        height: 43vw;
        #careerCanvCont{
            width: 40vw;
            height: 43vw;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            #arrowLeft{
                font-size: 100px;
                position: absolute;
                bottom: 1vw;
                right: calc(1vw + 150px);
                user-select: none;
                color: ghostwhite;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    color: gray;
                }
            }
            #arrowRight{
                font-size: 100px;
                position: absolute;
                bottom: 1vw;
                right: 1vw;
                user-select: none;
                color: ghostwhite;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    color: gray;
                }
            }
        }
        #careerTextCont{
            width: 40vw;
            height: 43vw;
            transform: translateX(100%);
            overflow-y: scroll;
            background: ghostwhite;
            color: black;
            .slideRight1{
                animation: slideRight1 0.5s ease forwards;
            }
            .slideRight2{
                animation: slideRight2 0.5s ease forwards;
            }
            .slideLeft1{
                animation: slideLeft1 0.5s ease forwards;
            }
            .slideLeft2{
                animation: slideLeft2 0.5s ease forwards;
            }
            @keyframes slideRight1 {
                0%{
                    opacity: 0.2;
                    transform: translateX(-50%);
                }
                100%{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            @keyframes slideRight2 {
                0%{
                    opacity: 0.2;
                    transform: translateX(-50%);
                }
                100%{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            @keyframes slideLeft1 {
                0%{
                    opacity: 0.2;
                    transform: translateX(50%);
                }
                100%{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            @keyframes slideLeft2 {
                0%{
                    opacity: 0.2;
                    transform: translateX(50%);
                }
                100%{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
    @media screen and (orientation: portrait) {
        #career{
            width: 80vw;
            height: 190vw;
            transform: translateY(20vw);
            #careerCanvCont{
                width: 80vw;
                height: 95vw;
                transform: none;
                #arrowRight{
                    font-size: 60px;
                }
                #arrowLeft{
                    font-size: 60px;
                    right: calc(1vw + 100px);
                }
            }
            #careerTextCont{
                width: 80vw;
                height: 95vw;
                transform: translateY(95vw);
                background: transparent;
                color: ghostwhite;
            }
        }
    }
}
