.career {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f008;
    // centered content
    #career{
        width: 76vw;
        height: 43vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: calc((var(--vh, 1vh) * 100 - 38vw) / 2);
        // centered content
        #careerCanvCont{
            width: 38vw;
            height: 38vw;
            position: relative;
            #arrowLeft{
                width: 60px;
                height: 60px;
                position: absolute;
                bottom: 0;
                right: 95px;
                background-image: url('svgs/leftArrow.svg');
                background-size: cover;
                user-select: none;
                &:hover{
                    cursor: pointer;
                }
            }
            #arrowRight{
                width: 60px;
                height: 60px;
                position: absolute;
                bottom: 0;
                right: 10px;
                background-image: url('svgs/rightArrow.svg');
                background-size: cover;
                user-select: none;
                &:hover{
                    cursor: pointer;
                }
            }
            // arrows moved in div and sized
        }
        #careerTextCont{
            width: 38vw;
            height: 38vw;
            overflow-y: scroll;
            background: white;
            color: black;
            font-size: 30px;
            // scrolls on overflow
            p{
                width: 95.5%;
                margin: auto;
                h3{
                    margin: 11px;
                }
            }
            .appear1{
                animation: appear1 0.5s ease forwards;
            }
            .appear2{
                animation: appear2 0.5s ease forwards;
            }
            @keyframes appear1 {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
            @keyframes appear2 {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (orientation: portrait) {
        #career{
            width: 80vw;
            height: 160vw;
            margin-top: calc(calc(var(--vh, 1vh) * 12) + 10vw);
            #careerCanvCont{
                width: 80vw;
                height: 80vw;
            }
            #careerTextCont{
                width: 80vw;
                height: 80vw;
                background: transparent;
                color: white;
            }
        }
        // portrait mode changes sizes
    }
}
