.career {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f008;
    // background: linear-gradient(to top , #f808, #f008);
    #career{
        width: 76vw;
        height: 43vw;
        display: flex;
        flex-direction: row;
        margin-top: calc((100vh - 43vw) / 2);
        #careerCanvCont{
            width: 38vw;
            height: 43vw;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            #arrowLeft{
                width: 80px;
                height: 80px;
                position: absolute;
                bottom: 1vw;
                right: calc(1vw + 125px);
                background-image: url('svgs/leftArrow.svg');
                background-size: cover;
                user-select: none;
                &:hover{
                    cursor: pointer;
                }
            }
            #arrowRight{
                width: 80px;
                height: 80px;
                position: absolute;
                bottom: 1vw;
                right: 1vw;
                background-image: url('svgs/rightArrow.svg');
                background-size: cover;
                user-select: none;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        #careerTextCont{
            width: 38vw;
            height: 43vw;
            overflow-y: scroll;
            background: white;
            color: black;
            .appear1{
                animation: appear1 0.5s ease forwards;
            }
            .appear2{
                animation: appear2 0.5s ease forwards;
            }
            @keyframes appear1 {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
            @keyframes appear2 {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (orientation: portrait) {
        #career{
            width: 80vw;
            height: 190vw;
            flex-direction: column;
            margin-top: calc(12vh + 10vw);
            #careerCanvCont{
                width: 80vw;
                height: 95vw;
            }
            #careerTextCont{
                width: 80vw;
                height: 95vw;
                background: transparent;
                color: white;
            }
        }
    }
}
