body {
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #000000;
    background-image: url('./svgs/svgback.svg');
    background-size: 25vw;
    #root {
        overflow: hidden;
        min-height: 100%;
    }
    .web-page {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow-y: auto;
        z-index: 1;
    }
}
